<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leticia Roncero - Personal Portfolio</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
</head>

<body>

    <!-- start section navbar -->
    <nav id="main-nav">
        <div class="row">
            <div class="container">

                <div class="logo">
                    <a href="index.html"><img src="/assets/img/logo.png" alt="logo"></a>
                </div>

                <ul class="nav-menu list-unstyled">
                    <li><a href="#header" class="smoothScroll">Home</a></li>
                    <li><a href="#about" class="smoothScroll">About</a></li>
                    <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- End section navbar -->

    <!-- start section header -->
    <header>
        <div class="container">
            <div class="header-content">
                <h1>I'm <span class="typed"></span></h1>
                <p>developer, community manager</p>

                <ul class="list-unstyled list-social">
                    <li><a href="https://github.com/leticiaroncero"><i class="ion-logo-github"></i></a></li>
                    <li><a href="https://twitter.com/leticiarpo"><i class="ion-logo-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/leticiaroncero/"><i class="ion-logo-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- End section header -->

    <!-- start section about us -->
    <section id="about">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-4 ">
                    <div class="about-img-bg">
                        <div class="about-img">
                            <img src="/assets/img/me.jpg" alt="me">
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="about-descr">

                        <p class="p-heading">Front-End Web Developer with a background in journalism and
                            communications. My skills include CSS3, JavaScript, jQuery, Express.js, React.js, Node.js, and MySQL.

                        </p>
                        <p class="separator">I recently earned a certificate in Full Stack Development from the
                            University of California, Berkeley.

                            Working as a Community Manager in the tech industry for
                            the past four years has given me a
                            good understanding of what users value in their interactions with a product and has
                            motivated me to create my own web applications.

                            The combination of my technical expertise and emotional intelligence makes me a unique team
                            member who would add value and efficiency to your team.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- end section about us -->
    <section id="portfolio">

        <div class="section-title text-center">
            <h2>My Portfolio</h2>
        </div>

        <div class="main-content text-center">
            <div class="card">
                <img src="/assets/img/taskify.png" class="card-img-top" alt="Taskify">
                <div class="card-body">
                    <h5 class="card-title">Taskify</h5>
                    <p class="card-text">
                        A web application to create and manage all of your day-to-day tasks!
                    </p>
                    <a href="https://radiant-thicket-81231.herokuapp.com/" class="btn" id="card-btn">Website</a>
                    <a href="https://github.com/demonaco/task-manager" class="btn" id="card-btn">Github</a>
                </div>
            </div>

            <div class="card">
                <img src="/assets/img/burger.png" class="card-img-top" alt="Burger">
                <div class="card-body">
                    <h5 class="card-title">Burger Logger</h5>
                    <p class="card-text">
                        Built with MySQL, Node, Express, Handlebars and a homemade ORM.
                    </p>
                    <a href="https://shielded-anchorage-21706.herokuapp.com/" class="btn" id="card-btn">Website</a>
                    <a href="https://github.com/leticiaroncero/burger" class="btn" id="card-btn">Github</a>
                </div>
            </div>

            <div class="card">
                <img src="/assets/img/book-finder.png" class="card-img-top" alt="Book Finder">
                <div class="card-body">
                    <h5 class="card-title">Book Finder</h5>
                    <p class="card-text">
                        Find user generated read-alike recommendations for your favorite books.
                    </p>
                    <a href="https://sheltered-beach-38162.herokuapp.com/" class="btn" id="card-btn">Website</a>
                    <a href="https://github.com/leticiaroncero/BookFinder" class="btn" id="card-btn">Github</a>
                </div>
            </div>

            <div class="card">
                <img src="/assets/img/bamazon-manager-view.png" class="card-img-top" alt="Bamazon">
                <div class="card-body">
                    <h5 class="card-title">Bamazon</h5>
                    <p class="card-text">
                        An Amazon-like storefront node app that takes in orders from customers.
                    </p>
                    <a href="https://github.com/leticiaroncero/bamazon" class="btn" id="card-btn">Github</a>
                </div>
            </div>

            <div class="card">
                <img src="/assets/img/travel.png" class="card-img-top" alt="KLMS Travel">
                <div class="card-body">
                    <h5 class="card-title">K.L.M.S. Travel</h5>
                    <p class="card-text">One-stop-shop for travelers seeking general information.</p>
                    <a href="https://mamitin.github.io/travelX/" class="btn" id="card-btn">Website</a>
                    <a href="https://github.com/leticiaroncero/travelX" class="btn" id="card-btn">Github</a>
                </div>
            </div>

            <div class="card">
                <img src="/assets/img/train.png" class="card-img-top" alt="Train Scheduler">
                <div class="card-body">
                    <h5 class="card-title">Train Scheduler</h5>
                    <p class="card-text">Check when the next train will arrive at any given station.</p>
                    <a href="https://leticiaroncero.github.io/Train-Scheduler/" class="btn" id="card-btn">Website</a>
                    <a href="https://github.com/leticiaroncero/Train-Scheduler" class="btn" id="card-btn">Github</a>
                </div>
            </div>

            <div class="card">
                <img src="/assets/img/trivia.png" class="card-img-top" alt="Trivia Game">
                <div class="card-body">
                    <h5 class="card-title">Trivia Game</h5>
                    <p class="card-text">A fun quiz game built with jQuery.</p>
                    <a href="https://leticiaroncero.github.io/TriviaGame/" class="btn" id="card-btn">Website</a>
                    <a href="https://github.com/leticiaroncero/TriviaGame" class="btn" id="card-btn">Github</a>
                </div>
            </div>

            <div class="card">
                <img src="/assets/img/giftastic.png" class="card-img-top" alt="GifTastic">
                <div class="card-body">
                    <h5 class="card-title">GifTastic</h5>
                    <p class="card-text">A GIF generator that uses Giphy's API.</p>
                    <a href="https://leticiaroncero.github.io/GifTastic/" class="btn" id="card-btn">Website</a>
                    <a href="https://github.com/leticiaroncero/GifTastic" class="btn" id="card-btn">Github</a>
                </div>
            </div>
        </div>

    </section>
    <!-- End section portfolio -->
    <!-- start section contact -->
    <section id="contact">
        <div class="container">
            <div class="contact-block1">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="contact-contact">

                            <h2 class="mb-30">GET IN TOUCH</h2>

                            <ul class="contact-details">
                                <li><span>San Francisco, United States</span></li>
                                <li><span>leticia.rop@gmail.com</span></li>
                                <li><span>Let's work together!</span></li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <form action="/" method="post" role="form" class="contactForm">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group contact-block1">
                                        <input type="text" name="name" class="form-control" id="name"
                                            placeholder="Your Name" required />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Your Email" data-rule="email" required /> </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject"
                                            placeholder="Subject" required />
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="12" data-rule="required"
                                            placeholder="Message" required></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <input type="submit" class="btn" value="Send message">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section id>
    <!-- end section contact -->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>