<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leticia Roncero - Personal Portfolio</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS File-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Libraries CSS Files from Internet-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/hover-min.css">

    <!-- Main Stylesheet File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon.png">
</head>

<body>

    <!-- start section navbar -->
    <nav id="main-nav">
        <div class="row">
            <div class="container">

                <div class="logo">
                    <a href="index.html"><img src="/assets/img/logo.png" alt="logo"></a>
                </div>

                <!-- <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div> -->

                <ul class="nav-menu list-unstyled">
                    <li><a href="#header" class="smoothScroll">Home</a></li>
                    <li><a href="#about" class="smoothScroll">About</a></li>
                    <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- End section navbar -->

    <!-- start section header -->
    <header>
        <div class="container">
            <div class="header-content">
                <h1>I'm <span class="typed"></span></h1>
                <p>developer, journalism major, community manager</p>

                <ul class="list-unstyled list-social">
                    <li><a href="https://github.com/leticiaroncero"><i class="ion-logo-github"></i></a></li>
                    <li><a href="https://twitter.com/leticiarpo"><i class="ion-logo-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/leticiaroncero/"><i class="ion-logo-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- End section header -->

    <!-- start section about us -->
    <section id="about">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-4 ">
                    <div class="about-img-bg">
                        <div class="about-img">
                            <img src="/assets/img/me.jpg" alt="me">
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="about-descr">

                        <p class="p-heading">Front-End Web Developer with a background in journalism and
                            communications. My skills include JavaScript, CSS, Python, MySQL, and responsive web design.

                        </p>
                        <p class="separator">I recently earned a certificate in Full Stack Development from the
                            University of California, Berkeley.
                            
                            Working as a Community Manager in the tech industry for
                            the past four years has given me a
                            good understanding of what users value in their interactions with a product and has
                            motivated me to create my own web applications.

                            The combination of my technical expertise and emotional intelligence makes me a unique team
                            member who would add value and efficiency to your team.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- end section about us -->
    <div id="portfolio-container">

        <section id="coding-projects">

            <div class="section-title text-center">
                <h2>My Portfolio</h2>
            </div>

            <div class="main-content text-center">
                <div class="card">
                    <img src="assets/images/trivia.png" class="card-img-top" alt="All Twins Trivia">
                    <div class="card-body">
                        <h5 class="card-title">All Twins Trivia</h5>
                        <p class="card-text">A fun quiz game built with jQuery.</p>
                        <a href="https://leticiaroncero.github.io/TriviaGame/" class="btn btn-primary"
                            id="card-btn">Website</a>
                        <a href="https://github.com/leticiaroncero/TriviaGame" class="btn btn-primary"
                            id="card-btn">Github</a>
                    </div>
                </div>

                <div class="card">
                    <img src="assets/images/travel.png" class="card-img-top" alt="All Twins Trivia">
                    <div class="card-body">
                        <h5 class="card-title">K.L.M.S. Travel</h5>
                        <p class="card-text">One-stop-shop for travelers seeking general information.</p>
                        <a href="https://mamitin.github.io/travelX/" class="btn btn-primary" id="card-btn">Website</a>
                        <a href="https://github.com/leticiaroncero/travelX" class="btn btn-primary"
                            id="card-btn">Github</a>
                    </div>
                </div>

                <div class="card">
                    <img src="assets/images/train.png" class="card-img-top" alt="Train Scheduler">
                    <div class="card-body">
                        <h5 class="card-title">Train Scheduler</h5>
                        <p class="card-text">Check when the next train will arrive at any given station.</p>
                        <a href="https://leticiaroncero.github.io/Train-Scheduler/" class="btn btn-primary"
                            id="card-btn">Website</a>
                        <a href="https://github.com/leticiaroncero/Train-Scheduler" class="btn btn-primary"
                            id="card-btn">Github</a>
                    </div>
                </div>

                <div class="card">
                    <img src="assets/images/psychic-game.png" class="card-img-top" alt="Psychic Game">
                    <div class="card-body">
                        <h5 class="card-title">Psychic Game</h5>
                        <p class="card-text">A “Guess the Letter" game.</p>
                        <a href="https://leticiaroncero.github.io/Psychic-Game/" class="btn btn-primary"
                            id="card-btn">Website</a>
                        <a href="https://github.com/leticiaroncero/Psychic-Game" class="btn btn-primary"
                            id="card-btn">Github</a>
                    </div>
                </div>

                <div class="card">
                    <img src="assets/images/giftastic.png" class="card-img-top" alt="GifTastic">
                    <div class="card-body">
                        <h5 class="card-title">GifTastic</h5>
                        <p class="card-text">A GIF generator that uses Giphy's API.</p>
                        <a href="https://leticiaroncero.github.io/GifTastic/" class="btn btn-primary"
                            id="card-btn">Website</a>
                        <a href="https://github.com/leticiaroncero/GifTastic" class="btn btn-primary"
                            id="card-btn">Github</a>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <!-- End section portfolio -->



    <!-- JavaScript Libraries to link from the Internet-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- <script src="lib/jquery/jquery-migrate.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <!-- <script src="contactform/contactform.js"></script> -->

    <!-- Template Main Javascript File -->
    <script src="/assets/js/main.js"></script>
</body>

</html>