body {
    background: #ffffff;
    color: #898989;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
}

section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.btn {
    background: #333;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
}

.btn:hover, .btn:focus {
    color: #fff;
    background: #555;
}

h2 {
    color: #292929;
    font-weight: 600;
}

/*---------------------------------------------------------------------------*/

/*  Navbar
/*---------------------------------------------------------------------------*/

.logo {
    float: left;
}

.logo img {
    width: 50px;
    height: 50px;
}

nav ul li {
    float: left;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 40px;
}

nav ul li a {
    padding: 2px 0 0 0;
    position: relative;
    display: block;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0.1em;
    font-weight: 500;
    line-height: 14px;
}

/*---------------------------------------------------------------------------*/

/*  Header
/*---------------------------------------------------------------------------*/

header {
    background: url("https://via.placeholder.com/1100x500.jpg") repeat scroll center center / cover;
    height: 100vh;
    width: 100%;
}

.header-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: #fff;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-content p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 5px;
}

.header-content .list-social li {
    float: left;
    margin-right: 20px;
}

.header-content .list-social li i {
    font-size: 15px;
    color: #fff;
}

/*---------------------------------------------------------------------------*/

/*  About
/*---------------------------------------------------------------------------*/

#about {
    padding-top: 190px;
    background: #f7f7f7;
}

.about-img-bg {
    padding-bottom: 30px;
    border: 20px solid #b8a07e;
}

.about-img img {
    width: 100%;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    margin-top: -60px;
    margin-left: 40px;
    height: 400px;
    object-fit: cover;
}

.p-heading {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    text-align: left;
    line-height: 30px;
}

.separator {
    /* max-width: 80%; */
    margin-bottom: 0;
    text-align: justify;
}

/*---------------------------------------------------------------------------*/

/*  Portfolio
/*---------------------------------------------------------------------------*/

.card {
    margin: 0 10px 30px;
    width: 17rem;
    display: inline-block;
    text-align: left;
}

.card-text {
    height: 4em;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*---------------------------------------------------------------------------*/

/*  Contact
/*---------------------------------------------------------------------------*/

#contact {
    height: auto;
    width: 100%;
    background: #f7f7f7;
}

.form-control{
    border: 1px solid #999;
    border-radius: 0%;
}

.contact-details {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-details li {
    padding-bottom: 10px;
}

#contact input, #contact textarea {
    width: 100%;
    min-height: 3em;
    font-size: 12px;
    text-transform: uppercase;
}

.section-title {
    margin-bottom: 30px;
}